
<div class="col-md-8 ml-10">


  <table class="table table-bordered table-stripped">
    <thead>
      <tr>
        <td>Client Id</td>
        <td>Client Code</td>
        <td>Client Name</td>

        <td>Client Type</td>
        <td>Client Address</td>
        <td>Client OPBalance</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{customer?.ClientId}}</td>
        <td> {{customer?.ClientCode}}</td>
        <td> {{customer?.ClientName}}</td>

        <td> {{customer?.ClientType}}</td>
        <td> {{customer?.ClientAddress}}</td>
        <td> {{customer?.ClientOPBalance}}</td>
      </tr>
    </tbody>
  </table>
</div>
